.ldsDualRing {
  position: fixed;
  top: 20%;
  left: 50%;
  bottom: 0;
  right: 0;
  display: block;
}
.ldsDualRing:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(224, 0, 94);
  border-color: #fff transparent rgb(224, 0, 94) transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
