.wrapper {
  display: block;
  position: relative;
  margin-top: 61px;
  margin-left: 30%;
  max-width: 100%;
  min-height: 40em;

  .container {
    display: flex;
    flex-direction: column;
    height: 40em;
    align-items: center;
    min-width: 30em;
    max-width: 40em;
    background-color: aquamarine;
    .log {
      width: 100%;
      margin: 1.5em 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: pink;
      .input {
        padding: 1em;
        width: 100%;
        border: none;
        border-radius: 10px;
        outline: none;
        &:focus {
          outline: hsl(342, 100%, 50%) solid;
        }
      }
      label {
        display: block;
        background-color: aquamarine;
      }
    }

    .trigger {
      position: relative;
      align-self: center;
      width: 80%;
      padding: 1em;
      color: #d8d8d8;
      border: none;
      border-radius: 20px;
      background-color: hsl(342, 100%, 50%);
      &:focus {
        background-color: hsla(342, 100%, 40%, 1);
      }
      bottom: 0;
    }
  }
  .show {
    display: block;
    margin: 1em 0 0 2em;
    color: hsl(342, 100%, 50%);
  }
}
.hide {
  display: none;
}
